<a href="https://colab.research.google.com/github/2303A52231/2303A52231/blob/main/2303A52231_Assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dis=pd.read_csv("/content/train.csv")
print(dis)
y=dis['price_range']
print(y)
x=dis.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]
0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [ ]:
xx=(x-x.min()) //(x.max() - x.min())
print(xx)

      battery_power  blue  clock_speed  dual_sim   fc  four_g  int_memory  \
0               0.0   0.0          0.0       0.0  0.0     0.0         0.0
1               0.0   1.0          0.0       1.0  0.0     1.0         0.0
2               0.0   1.0          0.0       1.0  0.0     1.0         0.0
3               0.0   1.0          0.0       0.0  0.0     0.0         0.0
4               0.0   1.0          0.0       0.0  0.0     1.0         0.0
...             ...   ...          ...       ...  ...     ...         ...
1995            0.0   1.0          0.0       1.0  0.0     1.0         0.0
1996            0.0   1.0          0.0       1.0  0.0     0.0         0.0
1997            0.0   0.0          0.0       1.0  0.0     1.0         0.0
1998            0.0   0.0          0.0       0.0  0.0     1.0         0.0
1999            0.0   1.0          0.0       1.0  0.0     1.0         0.0

      m_dep  mobile_wt  n_cores   pc  px_height  px_width  ram  sc_h  sc_w  \
0       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
2       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
3       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
4       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
...     ...        ...      ...  ...        ...       ...  ...   ...   ...
1995    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1996    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1997    0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
1998    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1999    0.0        0.0      0.0  0.0        0.0       0.0  0.0   1.0   0.0

      talk_time  three_g  touch_screen  wifi
0           0.0      0.0           0.0   1.0
1           0.0      1.0           1.0   0.0
2           0.0      1.0           1.0   0.0
3           0.0      1.0           0.0   0.0
4           0.0      1.0           1.0   0.0
...         ...      ...           ...   ...
1995        0.0      1.0           1.0   0.0
1996        0.0      1.0           1.0   1.0
1997        0.0      1.0           1.0   0.0
1998        0.0      1.0           1.0   1.0
1999        0.0      1.0           1.0   1.0

[2000 rows x 20 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(xx,y,test_size=0.2,random_state=42)

In [ ]:
print (x_train)
print (x_test)
print (y_train)
print (y_test)

      battery_power  blue  clock_speed  dual_sim   fc  four_g  int_memory  \
968             0.0   0.0          0.0       1.0  0.0     0.0         0.0
240             0.0   1.0          0.0       0.0  0.0     1.0         0.0
819             0.0   0.0          0.0       1.0  0.0     1.0         0.0
692             0.0   0.0          0.0       0.0  0.0     0.0         0.0
420             0.0   1.0          0.0       1.0  0.0     0.0         0.0
...             ...   ...          ...       ...  ...     ...         ...
1130            0.0   1.0          0.0       1.0  0.0     0.0         0.0
1294            0.0   1.0          0.0       0.0  0.0     1.0         0.0
860             0.0   1.0          0.0       0.0  0.0     1.0         0.0
1459            0.0   0.0          0.0       1.0  0.0     0.0         0.0
1126            0.0   1.0          0.0       1.0  0.0     1.0         0.0

      m_dep  mobile_wt  n_cores   pc  px_height  px_width  ram  sc_h  sc_w  \
968     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
240     0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
819     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
692     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
420     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
...     ...        ...      ...  ...        ...       ...  ...   ...   ...
1130    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1294    0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
860     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1459    0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
1126    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0

      talk_time  three_g  touch_screen  wifi
968         0.0      1.0           1.0   1.0
240         0.0      1.0           1.0   1.0
819         1.0      1.0           0.0   1.0
692         0.0      0.0           0.0   1.0
420         1.0      1.0           0.0   1.0
...         ...      ...           ...   ...
1130        0.0      0.0           0.0   1.0
1294        0.0      1.0           1.0   1.0
860         0.0      1.0           0.0   1.0
1459        0.0      0.0           1.0   1.0
1126        0.0      1.0           0.0   0.0

[1600 rows x 20 columns]
      battery_power  blue  clock_speed  dual_sim   fc  four_g  int_memory  \
1860            0.0   0.0          0.0       0.0  0.0     1.0         0.0
353             0.0   0.0          0.0       0.0  0.0     1.0         0.0
1333            0.0   0.0          0.0       0.0  0.0     0.0         0.0
905             0.0   1.0          0.0       0.0  0.0     0.0         0.0
1289            0.0   1.0          0.0       1.0  0.0     0.0         0.0
...             ...   ...          ...       ...  ...     ...         ...
965             0.0   0.0          0.0       1.0  0.0     0.0         0.0
1284            0.0   0.0          0.0       0.0  0.0     1.0         0.0
1739            0.0   0.0          0.0       0.0  0.0     1.0         0.0
261             0.0   0.0          0.0       1.0  0.0     0.0         0.0
535             0.0   0.0          0.0       0.0  0.0     0.0         0.0

      m_dep  mobile_wt  n_cores   pc  px_height  px_width  ram  sc_h  sc_w  \
1860    0.0        1.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
353     0.0        0.0      1.0  0.0        0.0       0.0  0.0   1.0   0.0
1333    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
905     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1289    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
...     ...        ...      ...  ...        ...       ...  ...   ...   ...
965     0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
1284    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1739    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
261     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
535     0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0

      talk_time  three_g  touch_screen  wifi
1860        0.0      1.0           1.0   0.0
353         0.0      1.0           0.0   0.0
1333        0.0      1.0           1.0   0.0
905         0.0      1.0           1.0   0.0
1289        0.0      1.0           0.0   0.0
...         ...      ...           ...   ...
965         0.0      0.0           1.0   1.0
1284        0.0      1.0           0.0   0.0
1739        0.0      1.0           1.0   1.0
261         0.0      1.0           1.0   1.0
535         0.0      1.0           1.0   1.0

[400 rows x 20 columns]
968     1
240     2
819     0
692     3
420     1
       ..
1130    3
1294    0
860     2
1459    3
1126    1
Name: price_range, Length: 1600, dtype: int64
1860    0
353     2
1333    1
905     3
1289    1
       ..
965     3
1284    2
1739    1
261     1
535     2
Name: price_range, Length: 400, dtype: int64

4th Assignment 2nd question

In [ ]:
import pandas as pd
dis=pd.read_csv("/content/housing.csv")
print(dis)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]
0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: ocean_proximity, Length: 20640, dtype: object

In [ ]:
print(dis.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [ ]:
print(type(dis['longitude']))
print(type(dis['latitude']))
print(type(dis['housing_median_age']))
print(type(dis['total_rooms']))
print(type(dis['total_bedrooms']))
print(type(dis['population']))
print(type(dis['households']))
print(type(dis['median_income']))
print(type(dis['median_house_value']))
print(type(dis['ocean_proximity']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [ ]:
print(dis['longitude'].shape)
print(dis['latitude'].shape)
print(dis['housing_median_age'].shape)
print(dis['total_rooms'].shape)
print(dis['total_bedrooms'].shape)
print(dis['population'].shape)
print(dis['households'].shape)
print(dis['median_income'].shape)
print(dis['median_house_value'].shape)
print(dis['ocean_proximity'].shape)

(20640,)
(20640,)
(20640,)
(20640,)
(20640,)
(20640,)
(20640,)
(20640,)
(20640,)
(20640,)

In [ ]:
y=dis['ocean_proximity']
print(y)

0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: ocean_proximity, Length: 20640, dtype: object

In [ ]:
x=dis.drop('ocean_proximity',axis=1)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

[20640 rows x 9 columns]

In [ ]:
print(dis.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
xx=x-x.min() //(x.max() - x.min())
print(xx)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -109.23     34.88                41.0        880.0           129.0
1        -109.22     34.86                21.0       7099.0          1106.0
2        -109.24     34.85                52.0       1467.0           190.0
3        -109.25     34.85                52.0       1274.0           235.0
4        -109.25     34.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -108.09     36.48                25.0       1665.0           374.0
20636    -108.21     36.49                18.0        697.0           150.0
20637    -108.22     36.43                17.0       2254.0           485.0
20638    -108.32     36.43                18.0       1860.0           409.0
20639    -108.24     36.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

[20640 rows x 9 columns]