<a href="https://colab.research.google.com/github/2303A52231/2303A52231/blob/main/2303A52231_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
people = ['kiran','Arun','vijay','varun']
age = [25,30,35,40]
height = [145,151,165,173]
weight = [45,55,65,75]
data = {
    'name': people,
    'Age': age,
    'height': height,
    'weight': weight,
}
df=pd.DataFrame(data)
print(df)

    name  Age  height  weight
0  kiran   25     145      45
1   Arun   30     151      55
2  vijay   35     165      65
3  varun   40     173      75